* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default settings */

.trade_mark {
    color: slategrey;
    margin: 4px;
}

.w {
    color: #fff;
}

/* end default settings */

/* background - color */
.bg_nav {background-color: #fff;}
/* end background - color */

/* button */
.btn-base {
    border-radius: 25px;
}

.space {
    margin: 0 24px;
}

.dark {
    color: #fff;
    background-color: #010101;
    border: 1px solid #010101;
}

.light {
    color: #010101;
    background-color: #fff;
    background-color:#fff;
}

.brand {
    color: #fff;
    background-color: #d13d10;
    background-color:#d13d10;
}

.default {
    color: #fff;
    background-color: #2964e5;
    background-color:#2964e5;
}
/* end-button */

/* hero-banner */
.cover_hero {
    min-height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center 76px;
    background-size: 1800px auto;
    color: #fff;
}

/* end hero-banner */

.logo_box img {
    width: 100%;
}

/* carousel */
.carousel img {
    width: 100%;
} 
/* end-carousel */

/* strip-txt-center */
.strip_text_center {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.content_strip {
    text-align: center;
}

.text_img img {
    width: 100%;
}

.carousel_5 .col {
    padding: 20px;
}

.active {
    border-bottom: 2px solid #2964e5;
}

.carousel_5 p {
    text-align: center;
    margin: 0;
}

.carousel_5 img {
    width: 100%;
}
/* end strip-txt-center */

/* hero-banner */
.cover_banner {
    position: relative;
    height: 800px;
    min-height: 400px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2560px auto;
    color: #fff;
}

.above_content {
    position: relative;
    z-index: 999;
}

.layer {
    position: absolute;
    top: 0;
    height: 800px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* end hero-banner */

/* wall-cover */
.bg_wall {
    background-color:#1f1f1f;
    color: #fff;
}    

.bg_wall p {
    margin-top: 16px;
}
/* end-wall-cover */

/* banner bg color */

.cover_bg {
    background-color: #bebcbb;
    color: #fff;
}

.img_box {
    width: 400px;
    margin-bottom: 32px;
}

.left_img img {
    width: 100%;
}

/* end banner bg color */


/* playstation now */
.cover_now {
    background-color:#161c3b;
    color: #fff;
}

/* social */

.social_strip .col img {
    width: 100%;
}
/* end-social */