* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background - color */
.bg_nav {background-color: #fff;}
/* end background - color */

/* button */
.btn-base {
    border-radius: 25px;
}

.space {
    margin: 0 24px;
}

.dark {
    color: #fff;
    background-color: #010101;
    border: 1px solid #010101;
}

.brand {
    color: #fff;
    background-color: #d13d10;
    background-color:#d13d10;
}

.default {
    color: #fff;
    background-color: #2964e5;
    background-color:#2964e5;
}
/* end-button */

/* hero-banner */
.cover {
    min-height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center 76px;
    color: #fff;
}

/* end hero-banner */

.container .row .col {
    border:1px solid red;
}

.logo_box img {
    width: 100%;
}

/* carousel */
.carousel img {
    width: 100%;
} 
/* end-carousel */

/* strip-txt-center */
.strip_text_center {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.content_strip {
    text-align: center;
}
/* end strip-txt-center */

.text_img img {
    width: 100%;
}